@use '../../styles/variables' as *;

.headerContainer {
  background-color: $dark-1;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.title {
  text-align: center;
  width: 100vw;
  border-bottom: 1px solid $white;
}

.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
