@use '../../../styles/variables' as *;

.button {
  outline: none;
  padding: 0.5rem 1rem;
  background-color: $dark-1;
  color: $white;
  border: 1px solid $white;
  border-radius: 3rem;
  font-size: $font-size-m;
}
