.artistCardContainer {
  margin-right: 2rem;
}

.artistForm {
  display: flex;
  flex-direction: column;

  .submitInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    :last-child {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 720px) {
  .artistCardContainer {
    margin-right: 0rem;
  }
}
