.artistInfo {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.artistForm {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;

  .submitInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    :last-child {
      margin-left: 1rem;
    }
  }
}
