@use '../../styles/variables' as *;

.contentContainer {
  background-color: $dark-2;
  width: 100%;
  padding: 2rem;
  max-width: 1300px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
