$dark-1: #101010;
$dark-2: #181818;
$dark-3: #212121;

$white: #ffffff;
$gray-1: #e3e3e3;
$gray-2: #909090;
$red: #c02c4a;

$btn-border-hover: var(--background-3);
$btn-background: var(--background-1);
$btn-background-2: rgb(57, 57, 57);
$btn-background-hover: var(--text-1);
$btn-text: var(--text-1);
$btn-text-hover: var(--background-1);
