$font-1: 'Press Start 2P', cursive;
$font-2: 'Roboto', sans-serif;

$font-size-xs: 1rem;
$font-size-s: 1.2rem;
$font-size-m: 1.5rem;
$font-size-l: 1.7rem;
$font-size-xl: 2rem;
$font-size-logo: 2.5rem;

$font-weight-s: 400;
$font-weight-l: 700;
