.cards {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem;
}

.songForm {
  display: flex;
  flex-direction: column;

  .submitInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    :last-child {
      margin-left: 1rem;
    }
  }

  .disabledInput {
    margin-bottom: 1rem;
  }
}
