.entity {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.buttons {
  margin-top: 0.7rem;

  .firstButton {
    margin-right: 2rem;
  }

  .icon {
    margin-right: 1rem;
  }
}

@media (max-width: 720px) {
  .buttons {
    .firstButton {
      margin-right: 1rem;
    }
  }
}
